.btnAction:hover{
    background-color: #423E37;
    color: white;
}

#playerTurnAnimation{
    animation: playerTurnAnimation 0.8s infinite;
}

@keyframes playerTurnAnimation{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}